* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
section form,
section textarea {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

header {
    background-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: inline;
    margin-left: 17px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

section {
    padding: 16px 0;
    color: #182C61;
}

.front-store {
    padding-right: 30px;
}

section ul li {
    display: inline;
    padding-right: 10px;
}

.brands-image img {
    height: 24px;
}

section .container {
    align-items: flex-start;
}

section .container h2 {
    margin-bottom: 23px;
}

section .container p {
    padding-bottom: 10px;
}

.form-images img {
    height: 25px;
}

#contact .container {
    display: block;
}

.container .contact-methods {
    display: flex;
    justify-content: space-between;
}

section h3 {
    color: #182C61;
    margin-bottom: 10px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    padding: 7px;
    margin-bottom: 8px;
}

form textarea {
    height: 180px;
    resize: none;
}

form button {
    background-color: #182C61;
    color: #ecf0f1;
    cursor: pointer;
}

form button:hover {
    background-color: #1d41a4;
}

footer {
    background-color: #182C61;
    padding: 15px 0;
    color: #ecf0f1;
}
